.banner {
  background-image: url(http://unsplash.it/1000/500);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding-top: 300px;
  text-align: center;
  color: white;
}

.banner h1, .banner h2 {
  font-family: 'Montserrat'
}

.banner h1 {
  font-size:35px;
}

#green-hover-link {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
    text-decoration:none;
}

#green-hover-link:hover {
      background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

p {
  font-size: 21px;
}

.main-content h2 {
  font-size: 30px;
  color: POWDERBLUE;
}

.main-content {
  padding: 0px 100px;
  font-family: sans-serif;
}
